/* Styles are in order of descending order of HTML document */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;800&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* general variables */
  --boxShadow: 0 5px 10px rgba(158, 155, 155, 0.2);
  --boxShadow2: 0px 0px 50px rgba(150, 150, 150, 0.3);
  --transition: all 0.5s linear;
  --border: 2px solid rgb(75, 75, 174);
  --border2: 3px solid rgb(105, 226, 89);

  /* variables for this project */
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --White: hsl (0, 0%, 100%);
}

body {
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  display: grid;
  font-family: "Manrope", "Open Sans", Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  place-items: center;
}

.main {
  width: 375px;
}

.header {
  display: grid;
  padding: 3rem 0;
  place-items: center;
  position: relative;
}

.logo {
  position: absolute;
  z-index: -5;
}

.header h1 {
  color: var(--Dark-Desaturated-Blue);
  margin: 10px 0;
  text-align: center;
}

p {
  color: var(--Grayish-Blue);
  letter-spacing: 0.04rem;
  line-height: 1.5;
  margin: 10px 0;
  text-align: center;
}

.pricing {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  padding: 2rem 1rem;
  text-align: center;
}

.pageviews {
  color: var(--Grayish-Blue);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.cost {
  align-items: center;
  display: flex;
  justify-content: center;
}

.price {
  color: var(--Dark-Desaturated-Blue);
  font-weight: 800;
  font-size: 2rem;
  margin: 0 10px;
}

.desktop-view {
  display: none;
}

/* range slider */
.form {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

input[type="range"] {
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 0%,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 0%,
    hsl(224, 65%, 95%) 100%
  );
  border-radius: 15px;
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  background: var(--Strong-Cyan);
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 10px 30px var(--Strong-Cyan);
  cursor: pointer;
  height: 35px;
  margin-top: -9px;
  width: 35px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-track {
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  height: 12px;
  outline: none;
  width: 100%;
}

input[type="range"]::-moz-range-thumb {
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background: var(--Strong-Cyan);
  border-radius: 50%;
  border: none;
  box-shadow: 0px 10px 30px var(--Strong-Cyan);
  cursor: pointer;
  height: 35px;
  width: 35px;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-progress-value {
  background: var(--Strong-Cyan);
  border-radius: 5px;
  height: 12px;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-progress {
  background: var(--Strong-Cyan);
  border-radius: 5px;
  border: none;
  height: 12px;
  outline: none;
}

input[type="range"]::-ms-thumb {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid hsl(174, 86%, 45%);
  box-shadow: 1px 1px 1px hsl(174, 86%, 45%), 0px 0px 1px #0d0d0d;
  cursor: pointer;
  height: 36px;
  width: 16px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: hsl(174, 86%, 45%);
}

input[type="range"]:focus::-ms-fill-upper {
  background: hsl(174, 86%, 45%);
}

/* Toggle */
.toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 40px;
  padding: 10px 0;
}

.checkbox {
  display: none;
}

.label {
  align-items: center;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 26px;
  margin: 0 10px;
  padding: 5px;
  position: relative;
  width: 52px;
}

.label:hover {
  background-color: var(--Soft-Cyan);
  transition: var(--transition);
}

.name {
  font-size: 14px;
}

.discount {
  background-color: var(--Light-Grayish-Red);
  border-radius: 30px;
  color: var(--Light-Red);
  font-size: 12px;
  padding: 2px 6px;
}

.ball {
  background: #fff;
  border-radius: 50%;
  padding: 11px;
  position: relative;
  transition: transform 0.25s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(21px);
}

.all-benefits {
  display: grid;
  padding: 0 0 20px;
  place-items: center;
}

.benefit {
  display: flex;
  gap: 20px;
}

.benefit img {
  object-fit: contain;
}

.btn {
  background-color: var(--Dark-Desaturated-Blue);
  border-radius: 30px;
  border: none;
  color: var(--Pale-Blue);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 15px 50px;
}

/* media query */
@media screen and (min-width: 700px) {
  body {
    background-size: 100%;
  }
  .main {
    width: 600px;
  }

  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: flex;
  }

  .toggle {
    border: var(--border);
    display: flex;
    place-items: center;
  }

  .discount {
    margin: 0 10px;
  }

  .pageview {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .subscribe {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .pricing {
    padding: 2rem;
  }
}

/* footer styles */
.my-profile {
  background-color: hsl(228, 59%, 16%);
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.my-profile > a {
  cursor: pointer;
  color: hsl(51, 79%, 45%);
  text-decoration: none;
}

.my-profile-icons a {
  cursor: pointer;
  color: var(--White);
  display: inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 500px) {
  .my-profile {
    font-size: 12px;
  }

  .my-profile-icons a:first-of-type,
  .my-profile-icons a:last-of-type {
    display: none;
  }
}
